.transferencia-container {
    background-color:  #ffc0cb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .transferencia-container h2 {
    color: #ff69b4;
    margin-bottom: 10px;
  }
  
  .detalles-cuenta {
    margin-bottom: 20px;
  }
  
  .detalles-cuenta p {
    margin: 5px 0;
  }
  
  .correo-electronico {
    color: #ff69b4;
    text-decoration: none;
  }
  
  .correo-electronico:hover {
    text-decoration: underline;
  }